<div class="row">
        <div class="col-6">
        <div class="form-group">
                <label>Filtro</label>
                <div class="form-inline">
                    <select id="searchText" name="searchText" [(ngModel)]="searchText" class="form-control">
                        <option value="">Seleccione una Opcion </option>
                        <option value="Gastos Administrativos">Gastos Administrativos</option>
                        <option value="Gastos Financieros">Gastos Financieros</option>
                        <option value="Gastos Legales">Gastos Legales</option>
                        <option value="Gastos de Viajes y transporte">Gastos de Viajes y transporte</option>
                        <option value="Honorarios">Honorarios</option>
                        <option value="Arrendamiento">Arrendamiento</option>
                        <option value="Impuestos y retenciones">Impuestos y retenciones</option>
                      </select>
                </div>                  
        </div>
        </div>
</div>
      <hr>
      
      <table class="table table-striped" *ngIf='pagos && pagos.length'>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Código</th>
            <th scope="col">Tipo Pago</th>
            <th scope="col">Fecha</th>
            <th scope="col">Valor Pago</th>
            <th scope="col">Valor IVA</th>
            <th scope="col">Identificación</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pago of pagos|filtroPagos:searchText; index as i ">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ pago.codigo }} </td>
            <td>{{ pago.tipoPago }} </td>
            <td>{{ pago.fecha }}</td>
            <td>{{ pago.valorPago }}</td>
            <td>{{ pago.valorIva }}</td>
            <td>{{ pago.identificacion }} </td>
          </tr>
        </tbody>
      </table>

    <div class="form-group">
          <label>Gasto Total:</label>
          <input class="form-control" type="text" [(ngModel)]="totalGastos" readonly>
        </div>